In [27]:
import os
import sys

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
os.getcwd()

'/home/T0069N5/mlops/fastapi-ml/src/notebooks'

In [37]:
from ml.model import *
from ml.data import process_data
from clean_data import load_data

In [31]:
DATA_PATH = "../data/cleaned_census.csv"
assert os.path.exists(DATA_PATH)

In [36]:


load_data(DATA_PATH)

       age         workclass   fnlgt  ... hours_per_week  native_country salary
0       39         State-gov   77516  ...             40   United-States  <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2       38           Private  215646  ...             40   United-States  <=50K
3       53           Private  234721  ...             40   United-States  <=50K
4       28           Private  338409  ...             40            Cuba  <=50K
...    ...               ...     ...  ...            ...             ...    ...
32556   27           Private  257302  ...             38   United-States  <=50K
32557   40           Private  154374  ...             40   United-States   >50K
32558   58           Private  151910  ...             40   United-States  <=50K
32559   22           Private  201490  ...             20   United-States  <=50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[32561 rows x 15 columns]

In [46]:
config = {"DATA_PATH": DATA_PATH,
 "CLEANED_DATA_PATH": "./data/cleaned_census.csv",
 "MODEL_PATH":"model.pkl",
 "OHE":"./model/onehotencoder.pkl",
 "LB":"./model/labelbinaraizer.pkl",
 "CAT_FEATURES" : [
    "workclass",
    "education",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native_country",
],
"LABEL":"salary"
 
}


config

{'DATA_PATH': '../data/cleaned_census.csv',
 'CLEANED_DATA_PATH': './data/cleaned_census.csv',
 'MODEL_PATH': 'model.pkl',
 'OHE': './model/onehotencoder.pkl',
 'LB': './model/labelbinaraizer.pkl',
 'CAT_FEATURES': ['workclass',
  'education',
  'marital_status',
  'occupation',
  'relationship',
  'race',
  'sex',
  'native_country'],
 'LABEL': 'salary'}

In [43]:
import yaml

In [50]:
print(yaml.dump(config))

CAT_FEATURES:
- workclass
- education
- marital_status
- occupation
- relationship
- race
- sex
- native_country
CLEANED_DATA_PATH: ./data/cleaned_census.csv
DATA_PATH: ../data/cleaned_census.csv
LABEL: salary
LB: ./model/labelbinaraizer.pkl
MODEL_PATH: model.pkl
OHE: ./model/onehotencoder.pkl

In [51]:
with open("config.yaml", "w") as f:
    yaml.dump(config, f)

In [59]:
with open("../config.yaml", "r") as f:
    config = yaml.safe_load(f)

In [61]:
config['CAT_FEATURES']

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [ ]:
data = load_data("data/cleaned_census.csv")

# Optional enhancement,
# use K-fold cross validation instead of a train-test split.
train, _ = train_test_split(data, test_size=0.20, random_state=42)

cat_features = [
    "workclass",
    "education",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native_country",
]


# Proces the test data with the process_data function.
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)

# # Train and save a model.
model = train_model(X_train, y_train)

save_model(model, file_name="./model/model.pkl")
save_model(encoder, file_name="./model/onehotencoder.pkl")
save_model(lb, file_name="./model/labelbinarizer.pkl")